.left-nav-bar-logo{
    background: #3c47c4 url('../../assets/images/logo.jpg') no-repeat center;
    height: 50px;
    display: block;
}
.left-nav-bar{
    background: #5664f9;
    width: 80px;
    min-height: 100vh;
    text-align: center;
}
.left-nav{
    margin-top: 20px;
}
.left-nav-item{
    display: block;
    width: 100%;
    height: 45px;
    margin: 10px 0;
}
.left-nav-item-1{
    background: url('../../assets/images/left-nav-item-1.svg') no-repeat center;
}
.left-nav-item-2{
    background: url('../../assets/images/left-nav-item-2.svg') no-repeat center;
}
.left-nav-item-3{
    background: url('../../assets/images/left-nav-item-3.svg') no-repeat center;
}
.left-nav-item-4{
    background: url('../../assets/images/left-nav-item-4.svg') no-repeat center;
}
.left-nav-item-5{
    background: url('../../assets/images/left-nav-item-5.svg') no-repeat center;
}