.top-nav-bar{
    height: 50px;
    display: flex;
    background: #fff;
  }
  .top-nav-bar-item{
    padding-left: 25px;
    padding-right: 25px;
    line-height: 50px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    opacity: 0.8;
    transition: all ease-out 0.2s;
  }
  .top-nav-bar-item.active{
    font-weight: 500;
    opacity: 1;
    border-bottom: 2px solid #1f2fdc;
  }
  .top-nav-bar-item:hover{
    opacity: 1;
  }