.mdc-layout-grid--custom-padding{
    padding: 10px 20px 20px 20px;
}
.overview-mdc-layout-grid__cell--right{
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
}
.overview-mdc-layout-grid__cell--right a{
    margin-right: 30px;
}