body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/*
.body{
  display: flex;
  background: #f2f2f8;
}
.theme-link{
  color: #5664f9;
  font-size: 14px;	
  font-weight: 500;	
  letter-spacing: 1.25px;	
  line-height: 16px;
  text-decoration: none;
}
.mdc-button{
  border-radius: 0 !important;
}
.mdc-button--outlined {
  border-width: 1px;
  font-size: 14px;	
  font-weight: 500;	
  letter-spacing: 1.25px;	
  line-height: 16px;
  text-transform: none;
}
.theme-link:hover{
  opacity: 0.9;
}
.left-nav-bar-logo{
  background: #3c47c4 url('/src/images/logo.jpg') no-repeat center;
  height: 50px;
  display: block;
}
.left-nav-bar{
  background: #5664f9;
  width: 80px;
  min-height: 100vh;
  text-align: center;
}
.main-content-section{
  flex: 1;
}
.top-nav-bar{
  height: 50px;
  display: flex;
  background: #fff;
}
.top-nav-bar-item{
  padding-left: 25px;
  padding-right: 25px;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  opacity: 0.8;
  transition: all ease-out 0.2s;
}
.top-nav-bar-item.active{
  font-weight: 500;
  opacity: 1;
  border-bottom: 2px solid #1f2fdc;
}
.top-nav-bar-item:hover{
  opacity: 1;
}
.left-nav{
  margin-top: 20px;
}
.left-nav-item{
  display: block;
  width: 100%;
  height: 45px;
  margin: 10px 0;
}
.left-nav-item-1{
  background: url('/src/images/left-nav-item-1.svg') no-repeat center;
}
.left-nav-item-2{
  background: url('/src/images/left-nav-item-2.svg') no-repeat center;
}
.left-nav-item-3{
  background: url('/src/images/left-nav-item-3.svg') no-repeat center;
}
.left-nav-item-4{
  background: url('/src/images/left-nav-item-4.svg') no-repeat center;
}
.left-nav-item-5{
  background: url('/src/images/left-nav-item-5.svg') no-repeat center;
}

.report-shortcuts-header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0 15px 0 15px;
  min-height: 55px;
}
.report-shortcuts-list{
  margin-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: -10px;
}
.report-shortcuts-list-item{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  font-size: 15px;
  height: 48px;
  rroverflow: visible;
}
.report-shortcuts-list-item::before, .report-shortcuts-list-item::after{
  rrdisplay: none !important;
}
.report-shortcuts-list-item:hover{
  background: #f5f5fa;
}
.report-shortcuts-list-item-divider{
  margin-left: 15px;
}
.report-shortcuts-header__header{
  margin: 0;
}
.recent-reports-list-item{
  display: flex;
  justify-content: space-between;  
  padding-left: 15px;
  padding-right: 3px;
  font-size: 15px;
  height: 48px;
  overflow: initial;
  position: static !important;
  will-change: initial !important;
}
.recent-reports-list-item::before, .recent-reports-list-item::after{
  display: none !important;
}
.recent-reports-list-item:hover{
  background: #f5f5fa;
}
.recent-reports-list-item-divider{
  margin-left: 15px;
}
.overview-mdc-layout-grid__cell--right{
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}
.overview-mdc-layout-grid__cell--right a{
  margin-right: 30px;
}
.mdc-snackbar--align-end {
  transform: translate(0, 200%);
  left: initial;
  right: 24px;
  bottom: 24px;
}
.mdc-snackbar--align-end.mdc-snackbar--active {
  transform: translate(0, 0);
}
.mdc-snackbar__text{
  color: #FFFFFF;
  font-size: 14px;	
  letter-spacing: 0.25px;	
  line-height: 20px;
}
.mdc-snackbar__action-button{
  color: #5664f9;
  font-size: 14px;	
  font-weight: 500;	
  letter-spacing: 1.25px;	
  line-height: 16px;
  text-transform: none;
  opacity: 1;
  visibility: visible;
}
.mdc-snackbar{
  border-radius: 4px;
  min-width: 360px;
}
.mdc-card{
  border-radius: 0;  
  margin-bottom: 15px;
}
.mdc-layout-grid--custom-padding{
  padding-top: 10px;
}
.mdc-layout-grid__inner--custom-padding{
  padding-bottom: 10px;
}
.mdc-button--create-report{
  height: 48px;
  padding-left: 17px;
  padding-right: 25px;
}
.mdc-button--create-report i{
  margin-right: 8px;
  margin-top: -2px;
}
.recent-reports-list-menu{
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
}
.h1-arrow-back{
  float: left;
  margin: 3px 7px 0 0;
  color: #000000;
}
.export-as-html-link{
  line-height: 2.0;
  position: relative;
  z-index: 50;
}
.export-as-html-link__icon{
  float: right;
}
.grey-placeholder-section{
  background: #e6e6e6;
  height: 800px;
}
.sales-report-header__icon{
 margin-right: -10px;
}
.custom-report-types-list{
  margin-left: 0;
  margin-bottom: 7px;
  padding-bottom: 0;
  padding-top: 0;
}
.custom-report-types-list-item{
  display: flex;
  justify-content: space-between;
  padding: 2px 3px 2px 15px;
  font-size: 15px;
  height: 48px;
  overflow: visible;
  font-size: 16px;
  color: #000;
  position: static !important;
  will-change: initial !important;
}
.custom-report-types-list-item-divider{
  margin-left: 15px;
}
.list-item-menu-btn{
  will-change: initial !important; 
}
.custom-report-types-list-item::before, .custom-report-types-list-item::after{
  display: none !important;
}
.custom-report-types-list-item:hover{
  background: #f5f5fa;
}
.custom-report-types-list-item .mdc-form-field > label{
  font-size: 16px;
  color: #000; 
}
.custom-report-types-list-item .mdc-form-field{
  margin-left: -10px;
}
.custom-report-types-list__icons{
  margin-right: 0;
  display: flex;
  overflow: hidden;
  padding-right: 10px;
  align-items: center;
}
.custom-report-types-list__icon{
  margin-right: -10px;
}
.list-item-menu{
  top: 15px !important;
  left: auto !important;
  right: 21px !important;
}
.list-item-menu-li{
  justify-content: space-between;
  font-size: 14px;
  height: auto;
  padding: 5px 10px;
}
.list-item-menu-li__icon{
  margin-left: 25px;
}
.demo-width-class {
  width: 400px;
}
.custom-report-types-search-wr{
  position: relative;
}
#search-toggle-btn{
  position: absolute;
  top: 4px;
  right: 0px;
}
.custom-report-types-search-field{
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 0.2s;
}
.custom-report-types-search-field--active{
  width: 330px;
  opacity: 1;
  visibility: visible; 
}
.custom-report-types-search-field .mdc-floating-label--float-above {
  -webkit-transform: translateY(-100%) scale(0.75);
          transform: translateY(-100%) scale(0.75); 
}
.custom-report-types-search-field.mdc-text-field .mdc-floating-label {
  bottom: 11px;
}
.custom-report-types-list-item--header{
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}
.custom-report-types-list-item--header:hover{
  background: none;
}
.create-report-card-wr{
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0 15px;
}
.create-report-card-select-item{
  flex: 1 1 25%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(25% - 15px);
  margin-right: 15px;
  margin-bottom: 20px;
}
.create-report-card-select-item .mdc-select{
  width: 100%;
}
.create-report-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  border-bottom: 1px solid #e3e4ea;
  min-height: 55px;
}
.create-report-header__header{
  margin: 0;
}
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control, .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
  border-bottom-color: rgba(0, 0, 0, 0);
}
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:hover {
  border-bottom-color: rgba(0, 0, 0, 0);
}
.mdc-select--disabled {
  background-color: rgba(0,0,0,0.12);
}
.mdc-select--disabled .mdc-select__native-control, .mdc-select--disabled .mdc-select__selected-text {
  color: rgba(0, 0, 0, 0);
}
.mdc-floating-label--float-above{
  color: #5664F9 !important;
}
.mdc-select:not(.mdc-select--disabled) + .mdc-select-helper-text{
  color: #151A4D;
}
.mdc-select:not(.mdc-select--disabled){
  background-color: #ededf0;
}
.create-report-header__icons{
  display: flex;
  position: relative;
}
.leaddesc-tooltip{
  background-color: rgba(0,0,0,0.54);
  color: #FFFFFF;
  font-size: 12px;	
  letter-spacing: 0.4px;
  line-height: 16px;
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  width: 150px;
  top: 100%;
  display: none;
  text-align: center;
}
.leaddesc-tooltip::before{
  content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 10px; 
	top: -10px; 
	border: 5px solid; 
	border-color: transparent transparent #666; 
}
.leaddesc-tooltip--right{
  right: 9px;
  left: auto;
  top: 45px;
}
.leaddesc-tooltip--right.leaddesc-tooltip::before{
  right: 10px;
  left: auto;
}
.leaddesc-tooltip--left{
  left: -35px;
  top: 35px;
}
.has-tooltip{
  position: relative;
}
.create-report-header__icon{
  margin-right: -10px;
 }
 .export-as-html-menu{
   top: 30px !important;
   right: 0 !important;
   z-index: 50;
 }
.h1-arrow-link:hover .leaddesc-tooltip{
  display: block;
}
.create-report-header__icon--info{
  z-index: 50;
}
.create-report-header__icon--info:hover .leaddesc-tooltip{
  display: block;
}
.mdc-dialog .mdc-dialog__scrim {
  background-color: rgba(9,32,51,0.37);
}
.mdc-dialog .mdc-dialog__surface{
  border-radius: 0;
}
.mdc-dialog .mdc-dialog__content{
  color: #111439;
}
.mdc-button--dialog{
  text-transform: initial;
  background: none;
  margin-left: 10px;
}




.create-custom-report-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 15px;
  border-bottom: 1px solid #e3e4ea;
  min-height: 55px;
}
.create-custom-report-header__header{
  margin: 0;
}
.create-custom-report-card-wr{
  display: flex;
  flex-wrap: wrap;
  margin: 15px 15px 0 15px;
}
.create-custom-report-card-select-item{
  flex: 1 1 100%;
  margin-bottom: 12px;
}
.create-custom-report-card-textfield-item{
  flex: 1 1 100%;
  margin-bottom: 12px;
}
.create-custom-report-card-textfield-item .mdc-text-field{
  width: 100%; 
}
.create-custom-report-card-select-item .mdc-select{
  width: 100%;
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
  border-bottom-color: rgba(0, 0, 0, 0);
}
.mdc-text-field:not(.mdc-text-field--disabled) {
  background-color: #ededf0;
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input:hover {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.mdc-dialog--schedule-report .mdc-dialog__surface{
  width: 550px;
}
.mdc-select:not(.mdc-select--disabled) + .mdc-select-helper-text {
  color: #5664F9;
}
.mdc-dialog--schedule-report__header{
  border-bottom: 1px solid #e3e4ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  padding: 0 15px 0 0;
  min-height: 55px;
  margin-bottom: 5px;
}
.mdc-dialog--schedule-report .mdc-dialog__content{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.mdc-dialog--schedule-report .mdc-dialog__title{
  padding: 0;
  font-size: 16px;
  border: 0;
}
.mdc-dialog--schedule-report .mdc-dialog__title::before{
  height: auto;
}
.mdc-dialog--schedule-report .mdc-dialog__status{
  font-size: 12px;
}
.mdc-select:not(.mdc-select--disabled) .mdc-floating-label{
  color: #111439;
}
.mdc-dialog--schedule-report__select-item{
  flex: 1 1 100%;
  margin-bottom: 8px;
}
.mdc-dialog--schedule-report__select-item .mdc-select{
  width: 100%;
}
.mdc-dialog--schedule-report .mdc-dialog__actions{
  padding: 0 15px 15px 15px;
}
.create-custom-report-type-list{
  margin-left: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.create-custom-report-type-list-item{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 5px;
  font-size: 15px;
  height: 48px;
  overflow: visible;
}
.create-custom-report-type-list-item::before, .create-custom-report-type-list-item::after{
  display: none !important;
}
.create-custom-report-type-list-item:hover{
  background: #f5f5fa;
}
.create-custom-report-type-list-item-divider{
  margin-left: 15px;
}
.create-custom-report-type-list-item-title-col{
  display: flex;
}
.create-custom-report-type-list-item-title-col .mdc-list-item__text{
  margin-left: 10px;
}
.create-custom-report-type-list-item-title-col .material-icons{
  cursor: move;
}
.create-custom-report-header__menu{
  width: 425px;
  top: 0 !important;
  right: 0 !important;
  left: auto !important;
  max-height: 524px !important;
}
.create-custom-report-header__menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 30px 0 0;
  margin-left: 15px;
  border-bottom: 1px solid #e3e4ea;
  min-height: 55px;
}
.create-custom-report-header__menu-ul{
  padding: 0;
}
.create-custom-report-header__menu-li{
  padding: 0 8px 0 16px;
  height: 52px;
}
.create-custom-report-header__menu-li label{
  font-size: 16px;
  padding-left: 0;
}
.create-custom-report-header__menu-li .mdc-form-field{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.create-custom-report-header__search{
  padding-left: 16px;
}
.create-custom-report-header__search input{
  border-bottom: 1px solid #e3e4ea !important;
}
.simplebar-scrollbar:before{
  background-color: rgba(0,0,0,0.38);
}
.simplebar-scrollbar{
  width: 4px;
  right: 4px;
}
.mdc-dialog--schedule-report__email-field{
  width: 100%;
  background: none !important;
}
.mdc-dialog--schedule-report__email-item{
  flex: 1 1 100%;
  margin-bottom: 8px;
  overflow: hidden;
  padding-top: 10px;
  margin-top: -10px;
}
.mdc-dialog--schedule-report__email-item .mdc-text-field-helper-text{
  color: #111439 !important;
}
.mdc-dialog--schedule-report__email-item .mdc-chip-set{
  flex-wrap: nowrap;
  position: relative;
  z-index: 5;
  margin-top: 4px;
  margin-left: 3px;
  margin-right: -10px;
}
.mdc-dialog--schedule-report__email-item .mdc-chip{
  background: #e3e3e7 !important;
  border-radius: 5px;
}
.mdc-dialog--schedule-report__email-item .mdc-floating-label{
  z-index: -1;
}
.mdc-dialog--schedule-report__email-item .mdc-chip .material-icons{
  margin: -4px -4px -4px 4px;
}
.overview-table-col-1{
  margin-left: 40px;
}
.save-shortcut-modal-text-field{
  width: 100%;
}
.mdc-dialog--save-shortcut .mdc-dialog__actions {
  padding: 0 15px 15px 15px;
}
.mdc-dialog--save-shortcut .mdc-dialog__content{
  padding: 20px 15px 15px 15px;
}

.mdc-dialog--save-shortcut__header{
  border-bottom: 1px solid #e3e4ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  padding: 0 15px 0 0;
  min-height: 55px;
  margin-bottom: 5px;  
}
.mdc-dialog--save-shortcut .mdc-dialog__surface{
  width: 550px;
}
.mdc-dialog--save-shortcut .mdc-dialog__title {
  padding: 0;
  font-size: 16px;
  border: 0;
}
.save-shortcut-modal-text-field__helper-text{
  color: #5664f9 !important;
}
.save-shortcut-modal__actions{
  margin-top: 15px;
}
.mdc-dialog--save-shortcut__title::before{
  display: none;
}
*/